.md-nav, .slideout-nav, .sm-nav {
    display: none;
}

svg:not(.icon-button) {
    color: var(--md-sys-color-on-background)
}

.icon-button {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 380px) {
    .slideout-nav {
        width: 100% !important;
        top: -120% !important;
        left: 0 !important;
        background: var(--md-sys-color-background) !important;
    }

    .active {
        display: block !important;
        top: 0 !important;
    }
}

@media (max-width: 767px) {
    .slideout-nav {
        display: block;
        width: 45%;
        left: -60%;
        transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 25;
        background: var(--md-sys-color-background);
        box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
        justify-content: center;
        align-items: center;
    }

    .slideout-nav ul {
        flex-direction: column;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        display: flex;
    }

    .slideout-nav ul li {
        width: fit-content;
        margin: 1.25rem 0;
        color: var(--md-sys-color-on-background);
        font-size: var(--md-sys-typescale-headline5-size);
        font-weight: 500;
        cursor: pointer;
    }

    .close {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        cursor: pointer;
    }

    .active {
        left: 0;
    }

    .sm-nav {
        display: block;
        background: var(--md-sys-color-background);
        padding: 1.25rem;
        height: fit-content;
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
        max-height: 52px;
    }

    .sm-nav ul, .sm-nav ul .end {
        display: flex;
    }

    .sm-nav ul li svg {
        cursor: pointer;
    }

    .sm-nav ul li {
        margin-right: 1.75rem;
    }

    .slideout-nav {
        display: block;
    }
}

@media (min-width: 768px) {
    .md-nav {
        display: flex;
        background: var(--md-sys-color-background);
        padding: 1.25rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
        max-height: 52px;
    }

    .md-nav ul, .md-nav .end {
        display: flex;
    }

    .end {
        position: absolute;
        top: 0.80rem;
        right: 0;
    }

    .end div {
        margin-right: 1.75rem;
    }

    .md-nav ul li {
        margin-right: 1.75rem;
    }

    .brandName {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .pfp {
        border-radius: 50%;
        margin-right: .25rem;
    }

    .pfp-svg {
        margin: 10% 0;
    }

    .image {
        margin-top: 0.25rem;
        cursor: pointer;
    }

    .dropdown-user {
        visibility: hidden;
        width: 15rem;
        height: 16.5rem;
        border: 1px solid var(--md-sys-color-dropdown-background-outline);
        padding: .5rem;
        border-radius: 8px;
        background: var(--md-sys-color-background);
        position: absolute;
        right: 1.25rem;
        margin-top: 3.75rem;
        z-index: 5;
        overflow: hidden;
        box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.35);
        transition: all 250ms;
    }

    .active {
        visibility: visible;
        animation: rolldown 350ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    }

    .leaving {
        animation: rollup 350ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    }

    .dropdown-user-info {
        height: fit-content;
        width: max-content;
        min-height: 64px;
    }

    .username {
        position: relative;
        top: 0.25rem;
        font-size: large;
    }

    .pfp-dropdown {
        float: left;
        margin-right: 0.75rem;
    }

    .dropdown-buttons {
        min-width: 100% !important;
        max-height: 48px;
        margin: 0 !important;
        text-transform: none !important;
        text-align: unset !important;
        background: var(--md-sys-color-background) !important;
        box-shadow: none !important;
        color: var(--md-sys-color-on-background) !important;
        padding: 14px 16px;
        height: fit-content !important;
    }

    @media (prefers-color-scheme: dark) {
        .dropdown-buttons:hover {
            filter: brightness(120%) !important;
        }
    }

    @media (prefers-color-scheme: light) {
        .dropdown-buttons:hover {
            filter: brightness(90%) !important;
        }
    }

    .dropdown-buttons svg {
        padding-right: 0.25rem;
        height: 18px;
        float: left;
    }

    .dropdown-user-links {
        display: flex;
        flex-direction: column;
        padding: 0.75rem 0;
    }

    @keyframes rolldown {
        0% {
            height: 0;
        }

        100% {
            height: 16.5rem;
        }
    }

    @keyframes rollup {
        0% {
            height: 16.5rem;
        }

        100% {
            height: 0;
        }
    }
}