<form (submit)="onAddPost()" id="submit-group" [formGroup]="form" #postForm="ngForm">
    <div class="floating-label-wrap">
        <textarea rows="6" name="content" id="content" formControlName="content" maxlength="500"
            class="floating-label-field" placeholder="Content" required></textarea>
        <label for="post" class="floating-label">Content</label>
        <div *ngIf="form.get('content').invalid && (form.get('content').dirty || form.get('content').touched)">
            <p class="error-text" *ngIf="form.get('content').errors['required']">Body is required</p>
            <p class="error-text" *ngIf="form.get('content').errors['maxlength']">Body is too long</p>
        </div>
    </div>
    <div class="extra-buttons">
        <button type="button" class="icon-button" (click)="filepicker.click()">
            <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21 3.6V20.4C21 20.7314 20.7314 21 20.4 21H3.6C3.26863 21 3 20.7314 3 20.4V3.6C3 3.26863 3.26863 3 3.6 3H20.4C20.7314 3 21 3.26863 21 3.6Z"
                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3 16L10 13L21 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M16 10C14.8954 10 14 9.10457 14 8C14 6.89543 14.8954 6 16 6C17.1046 6 18 6.89543 18 8C18 9.10457 17.1046 10 16 10Z"
                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        <span class="image-name" id="image-name"></span>
        <div *ngIf="form.get('image').value !== null && form.get('image').value.type !== 'image/jpeg' && form.get('image').value.type !== 'image/jpg' && form.get('image').value.type !== 'image/png'">
            <p class="error-text">File is not an image</p>
        </div>
        <input type="file" id="image-picker" #filepicker accept="image/png, image/jpeg" (change)="PickedImage($event)">
    </div>
    <button>Save Post</button>
    <hr>
</form>