<!--<form (submit)="onAddPost()" [formGroup]="form" #postForm="ngForm"
    [class.error]="postForm.submitted && postForm.invalid">--->
<form (submit)="onlogin(loginform)" #loginform="ngForm" [class.error]="loginform.submitted && loginform.invalid" class="login-form">
    <div class="floating-label-wrap">
        <input name="emailusername" type="text" id="emailusername" ngModel #emailusername= "ngModel" class="floating-label-field"
            placeholder="Email or username" required>
        <label for="emailusername" class="floating-label">Email or username</label>
        <div *ngIf="emailusername.invalid">
            <p class="error-text" *ngIf="emailusername.errors['required']">user or email is required</p>
        </div>
    </div>
    <div class="floating-label-wrap">
        <input name="password" type="password" id="password" ngModel #password="ngModel" class="floating-label-field" maxlength="256" minlength="8"
            placeholder="Password" required>
        <label for="password" class="floating-label">Password</label>
        <div *ngIf="password.invalid">
            <p class="error-text" *ngIf="password.errors['required']">Password is required</p>
        </div>
    </div>
    <button>Login</button> or <a routerLink="/signup">Sign Up</a>
</form>