@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --md-sys-typescale-display1-font: Roboto;
  --md-sys-typescale-display1-weight: Regular;
  --md-sys-typescale-display1-size: 64px;
  --md-sys-typescale-display1-line-height: 76px;
  --md-sys-typescale-display1-tracking: -0.5px;
  --md-sys-typescale-display2-font: Roboto;
  --md-sys-typescale-display2-weight: Regular;
  --md-sys-typescale-display2-size: 57px;
  --md-sys-typescale-display2-line-height: 64px;
  --md-sys-typescale-display2-tracking: -0.25px;
  --md-sys-typescale-display3-font: Roboto;
  --md-sys-typescale-display3-weight: Regular;
  --md-sys-typescale-display3-size: 45px;
  --md-sys-typescale-display3-line-height: 52px;
  --md-sys-typescale-display3-tracking: 0px;
  --md-sys-typescale-headline1-font: Roboto;
  --md-sys-typescale-headline1-weight: Regular;
  --md-sys-typescale-headline1-size: 36px;
  --md-sys-typescale-headline1-line-height: 44px;
  --md-sys-typescale-headline1-tracking: 0px;
  --md-sys-typescale-headline2-font: Roboto;
  --md-sys-typescale-headline2-weight: Regular;
  --md-sys-typescale-headline2-size: 32px;
  --md-sys-typescale-headline2-line-height: 40px;
  --md-sys-typescale-headline2-tracking: 0px;
  --md-sys-typescale-headline3-font: Roboto;
  --md-sys-typescale-headline3-weight: Regular;
  --md-sys-typescale-headline3-size: 28px;
  --md-sys-typescale-headline3-line-height: 36px;
  --md-sys-typescale-headline3-tracking: 0px;
  --md-sys-typescale-headline4-font: Roboto;
  --md-sys-typescale-headline4-weight: Regular;
  --md-sys-typescale-headline4-size: 24px;
  --md-sys-typescale-headline4-line-height: 32px;
  --md-sys-typescale-headline4-tracking: 0px;
  --md-sys-typescale-headline5-font: Roboto;
  --md-sys-typescale-headline5-weight: Regular;
  --md-sys-typescale-headline5-size: 22px;
  --md-sys-typescale-headline5-line-height: 28px;
  --md-sys-typescale-headline5-tracking: 0px;
  --md-sys-typescale-headline6-font: Roboto;
  --md-sys-typescale-headline6-weight: Regular;
  --md-sys-typescale-headline6-size: 18px;
  --md-sys-typescale-headline6-line-height: 24px;
  --md-sys-typescale-headline6-tracking: 0px;
  --md-sys-typescale-subhead1-font: Roboto;
  --md-sys-typescale-subhead1-weight: Medium;
  --md-sys-typescale-subhead1-size: 16px;
  --md-sys-typescale-subhead1-line-height: 24px;
  --md-sys-typescale-subhead1-tracking: 0.1px;
  --md-sys-typescale-subhead2-font: Roboto;
  --md-sys-typescale-subhead2-weight: Medium;
  --md-sys-typescale-subhead2-size: 14px;
  --md-sys-typescale-subhead2-line-height: 20px;
  --md-sys-typescale-subhead2-tracking: 0.1px;
  --md-sys-typescale-body1-font: Roboto;
  --md-sys-typescale-body1-weight: Regular;
  --md-sys-typescale-body1-size: 16px;
  --md-sys-typescale-body1-line-height: 24px;
  --md-sys-typescale-body1-tracking: 0.5px;
  --md-sys-typescale-body2-font: Roboto;
  --md-sys-typescale-body2-weight: Regular;
  --md-sys-typescale-body2-size: 14px;
  --md-sys-typescale-body2-line-height: 20px;
  --md-sys-typescale-body2-tracking: 0.25px;
  --md-sys-typescale-caption-font: Roboto;
  --md-sys-typescale-caption-weight: Regular;
  --md-sys-typescale-caption-size: 12px;
  --md-sys-typescale-caption-line-height: 16px;
  --md-sys-typescale-caption-tracking: 0.4px;
  --md-sys-typescale-button-font: Roboto;
  --md-sys-typescale-button-weight: Medium;
  --md-sys-typescale-button-size: 14px;
  --md-sys-typescale-button-line-height: 20px;
  --md-sys-typescale-button-tracking: 0.1px;
  --md-sys-typescale-overline-font: Roboto;
  --md-sys-typescale-overline-weight: Medium;
  --md-sys-typescale-overline-size: 12px;
  --md-sys-typescale-overline-line-height: 16px;
  --md-sys-typescale-overline-tracking: 0.5px;
  --md-sys-color-error: red;
  --md-sys-nav-height: 56px;
}

@media (prefers-color-scheme: light) {
  :root {
    --md-sys-color-primary: #0062a2;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #cfe4ff;
    --md-sys-color-on-primary-container: #001d36;
    --md-sys-color-secondary: #526070;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #d6e4f7;
    --md-sys-color-on-secondary-container: #0f1d2a;
    --md-sys-color-tertiary: #6a5779;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #f2daff;
    --md-sys-color-on-tertiary-container: #241532;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad4;
    --md-sys-color-on-error-container: #410001;
    --md-sys-color-outline: #73777f;
    --md-sys-color-background: #fdfcff;
    --md-sys-color-on-background: #1a1c1e;
    --md-sys-color-surface: #fdfcff;
    --md-sys-color-on-surface: #1a1c1e;
    --md-sys-color-surface-variant: #dfe3eb;
    --md-sys-color-on-surface-variant: #42474e;
    --md-sys-color-inverse-surface: #2f3033;
    --md-sys-color-inverse-on-surface: #f0f0f3;
    --md-sys-color-input: #1a1c1e15;
    --md-sys-color-input-focus: #1a1c1e70;
    --md-sys-color-post-outline: #13151615;
    --md-sys-color-post-outline-hover: #13151640;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #9acbff;
    --md-sys-color-on-primary: #003257;
    --md-sys-color-primary-container: #00497b;
    --md-sys-color-on-primary-container: #cfe4ff;
    --md-sys-color-secondary: #bac8db;
    --md-sys-color-on-secondary: #243140;
    --md-sys-color-secondary-container: #3b4857;
    --md-sys-color-on-secondary-container: #d6e4f7;
    --md-sys-color-tertiary: #d5bee5;
    --md-sys-color-on-tertiary: #3a2a48;
    --md-sys-color-tertiary-container: #514060;
    --md-sys-color-on-tertiary-container: #f2daff;
    --md-sys-color-on-error: #680003;
    --md-sys-color-error-container: #930006;
    --md-sys-color-on-error-container: #ffdad4;
    --md-sys-color-outline: #8c9199;
    --md-sys-color-background: #1a1c1e;
    --md-sys-color-on-background: #e2e2e6;
    --md-sys-color-surface: #1a1c1e;
    --md-sys-color-on-surface: #e2e2e6;
    --md-sys-color-surface-variant: #42474e;
    --md-sys-color-on-surface-variant: #c3c7cf;
    --md-sys-color-inverse-surface: #e2e2e6;
    --md-sys-color-inverse-on-surface: #1a1c1e;
    --md-sys-color-input: #e2e2e615;
    --md-sys-color-input-focus: #e2e2e670;
    --md-sys-color-post-outline: #b8b8b815;
    --md-sys-color-post-outline-hover: #b8b8b840;
    --md-sys-color-dropdown-background-outline: #FFFFFF;
  }
}


body {
  background-color: var(--md-sys-color-background);
  padding: 0;
  margin: 0;
  text-rendering: optimizeSpeed;
  font-family: 'Nunito Sans', sans-serif;
  line-height: var(--md-sys-typescale-body1-line-height);
  font-size: var(--md-sys-typescale-body1-size);
  letter-spacing: var(--md-sys-typescale-body1-tracking);
  color: var(--md-sys-color-on-background);
  min-height: calc(100vh - 8px - 8px);
}

a {
  color: var(--md-sys-color-on-background);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  line-height: var(--md-sys-typescale-headline1-line-height);
  font-size: var(--md-sys-typescale-headline1-size);
  letter-spacing: var(--md-sys-typescale-headline1-tracking);
}

main {
  margin: 8px;
  padding: 8px;
}

.post-text {
  font-size: var(--md-sys-typescale-headline6-size);
  line-height: var(--md-sys-typescale-headline6-line-height);
  letter-spacing: var(--md-sys-typescale-headline6-tracking);
}

.username {
  font-size: var(--md-sys-typescale-body1-size);
  line-height: var(--md-sys-typescale-body1-line-height);
  letter-spacing: var(--md-sys-typescale-body1-tracking);
  font-weight: 700;
  margin: 0;
  width: fit-content;
}

.username a:hover {
  text-decoration: underline !important;
}

button:not(.icon-button):not(.swal-confirm),
input[type="submit"]:not(.icon-button) {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border: none;
  text-transform: uppercase;
  min-width: 64px;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 0.25rem;
  font-size: .875rem;
  letter-spacing: .0892857143em;
  transition: box-shadow 250ms ease-in-out, filter 150ms ease-in;
  cursor: pointer;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
  margin-left: 0.25rem;
}

button:not(.icon-button):not(.swal-confirm)>span.mat-button-wrapper,
input[type="submit"]:not(.icon-button)>span.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover:not(.icon-button):not(.swal-confirm),
input[type="submit"]:hover:not(.icon-button) {
  filter: brightness(105%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}

button:active:not(.icon-button):not(.swal-confirm),
input[type="submit"]:active:not(.icon-button) {
  filter: brightness(115%);
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}

button svg {
  pointer-events: none;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="date"]) {
  border: 1px solid var(--md-sys-color-input);
  min-width: 190px;
  max-width: calc(280px + 32px);
  width: 100%;
  margin: 0 auto;
  max-height: 48px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .009375em;
  color: var(--md-sys-color-on-background);
  border-radius: 4px;
  padding: 12px 16px 14px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill, input:-internal-autofill-selected {
  background-color: var(--md-sys-color-background) !important;
  background-image: none !important;
  color: var(--md-sys-color-on-background) ;
}

textarea {
  resize: none;
  border: 1px solid var(--md-sys-color-input);
  min-width: 190px;
  max-width: calc(280px + 32px);
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: .009375em;
  color: var(--md-sys-color-on-background);
  font-family: sans-serif;
  border-radius: 4px;
  padding: 12px 16px 14px;
  transition: border-color 250ms ease-in-out;
}

form.ng-submitted div>input.ng-invalid,
form.ng-submitted div>textarea.ng-invalid {
  border-color: var(--md-sys-color-error) !important;
}

.error-text {
  display: none;
}

form.ng-submitted div div>p.error-text {
  display: block;
  color: var(--md-sys-color-error);
  font-size: var(--md-sys-typescale-caption-size);
  letter-spacing: var(--md-sys-typescale-caption-tracking);
  margin-top: 0.125rem;
  margin-bottom: 0.25rem;
}

.error-text-nh {
  /* this is identical to the error text but it is a no hide variant so it will not be hidden by forms */
  color: var(--md-sys-color-error);
  font-size: var(--md-sys-typescale-caption-size);
  letter-spacing: var(--md-sys-typescale-caption-tracking);
  margin-top: 0.125rem;
  margin-bottom: 0.25rem;
}

textarea::placeholder {
  color: transparent;
}

textarea:hover {
  border: 1px solid var(--md-sys-color-input-focus);
}

textarea:focus {
  border: 1px solid var(--md-sys-color-input-focus);
  outline: none;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="date"]) {
  transition: border-color 250ms ease-in-out;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="date"]):hover {
  border: 1px solid var(--md-sys-color-input-focus);
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="date"])::placeholder {
  color: transparent;
}

.icon-button {
  background-color: transparent;
  margin: 0.25rem;
  text-align: center;
  color: #00a8ff;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  padding: 0.5rem;
  transition: background-color 0.2s;
}

.icon-button svg {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.icon-button:hover {
  background-color: #00aaff1c;
  color: #00a8ff;
}

.heart {
  color: #ff004c;
}

.heartbtn:hover {
  background-color: #ff004c1c;
}

.heart-count {
  color: #ff004c;
  margin-right: 0.25rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.floating-label-wrap {
  margin-top: 1.25rem;
}

.floating-label-wrap,
.floating-label-field {
  position: relative;
  background-color: transparent;
}

.floating-label-field {
  z-index: 2;
}

.floating-label-field:focus+.floating-label {
  transform: translate(1%, -80%) scale(.8);
}

.floating-label-field:not(:placeholder-shown)+.floating-label {
  transform: translate(1%, -80%) scale(.8);
}


.floating-label {
  line-height: 1;
  max-width: calc(calc(100% - 1.5em) - 16px);
  max-height: calc(100% - 1.5em);
  color: var(--md-sys-color-on-background);
  font: inherit;
  position: absolute;
  padding: 0px 8px;
  top: calc(0.75em - 2px);
  left: 0.75em;
  user-select: none;
  z-index: 3;
  transition: transform 150ms, opacity 150ms ease-in-out;
  transform-origin: 0 0;
  background-color: var(--md-sys-color-background);
  cursor: text;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="date"]):focus {
  border: 1px solid var(--md-sys-color-input-focus);
  outline: none;
}

.delete {
  color: #FFF;
  margin-left: auto;
  background-color: #F4212E;
  margin-bottom: 0.25rem;
}

@media (max-width: 590px) {
  .post-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* spinner */
.lds-ring {
  display: flex;
  position: relative;
  margin: auto;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* end spinner */
.likeAnimation {
  animation: likeAnimation 175ms linear;
}

@keyframes likeAnimation {
  0% {
    transform: scaleY(1.35) scaleX(1.35);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}